/* all styling and animations for the cheat controls here. */

.cheatCard {
    max-width: 150px;
    height: auto;
    margin: 5px;
}

.chtBtns {
    /* max-width: 135px; */
    max-width: 150px;
    height: auto;
    margin-bottom: 5px; 
    border: 5px rgba(235, 162, 45, 0);
    padding: 0;
    margin: 5px;
}

.chtBtns:hover {
    border: 5px inset burlywood;
}

#winBtn:hover {
    animation-name: winHvr;
    animation-duration: 2s;
}
