
#board {
    background-color: rgb(222, 191, 145);
}

#scoreboard {
    padding: 10px;
    background-color: aliceblue;
    border: solid black 4px;
    border-radius: 10px;
}

#controlls {
    padding: 10px;
    background-color: rgb(0, 65, 122);
    border: solid black 4px;
    border-radius: 10px;
}

.interface {
    border: solid black 4px;
    border-radius: 10px;
    margin: 5%;
}
.card {
    margin: 2.5%;
}

.card:hover {
   
}

#aSkull:hover {
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px 5px rgb(132, 240, 9);
}

.animate {
    box-shadow: red;
}


@keyframes borderShift {
    0% {border-color: rgba(150, 60, 235, 0.6);}
    6% {border-color: rgba(37, 139, 235, 0.6);}
    12% {border-color: rgba(27, 238, 203, 0.6);}
    18% {border-color: rgba(236, 240, 27, 0.6);}
    25% {border-color: rgba(235, 162, 45, 0.6);}
    31% {border-color: rgba(235, 60, 60, 0.6);}
    37% {border-color: rgb(255, 255, 255);}
    44% {border-color: rgb(248, 232, 9);}
    50% {border-color: rgba(255, 0, 0, 0.6);}
    56% {border-color: rgba(150, 60, 235, 0.6);}
    62% {border-color: rgba(37, 139, 235, 0.6);}
    68% {border-color: rgba(27, 238, 203, 0.6);}
    74% {border-color: rgba(236, 240, 27, 0.6);}
    80% {border-color: rgba(235, 162, 45, 0.6);}
    86% {border-color: rgba(235, 60, 60, 0.6);}
    90% {border-color: rgb(255, 255, 255);}
    95% {border-color: rgb(248, 232, 9);}
    100% {border-color: rgba(255, 0, 0, 0.6);}
}